body {
	color: #000;
}

.navbar-dark {
	color: #fff !important;
	background-color: #373737;
	border-radius: 0px !important;
	box-sizing: border-box;
}

.navbar-dark .navbar-brand {
	color: #fff !important;
}

.navbar-dark .navbar-nav li a {
	color: #E1E1E1;
	transition: 0.2s;
}

.navbar-dark .navbar-nav li a:hover {
	background-color: #222;
	color: #fff;
}

.navbar-dark .navbar-nav li a:focus {
	background-color: #373737;
}

.navbar-dark .navbar-nav li.active a {
	background-color: #222;
}

.navbar-dark .icon-bar{
	background-color: #FFF !important;
}

pre {
	padding: 0px;
	border-width: 0px;
}

.hljs {
	padding: 13px !important;
}