body {
	color: #000;
	background-color: #434A54;
}

#main_container {
	background-color: #FFF;
}

.navbar-dark {
	color: #fff !important;
	background-color: #373737;
	border-radius: 0px !important;
	box-sizing: border-box;
}

.navbar-dark .navbar-brand {
	color: #fff !important;
}

.navbar-dark .navbar-nav li a {
	color: #E1E1E1;
	transition: 0.2s;
}

.navbar-dark .navbar-nav li a:hover {
	background-color: #222;
	color: #fff;
}

.navbar-dark .navbar-nav li a:focus {
	background-color: #373737;
}

.navbar-dark .navbar-nav li.active a {
	background-color: #222;
}

.navbar-dark .icon-bar{
	background-color: #FFF !important;
}

pre {
	padding: 0px;
	border-width: 0px;
	background-color: #FFF;
}

.hljs {
	padding: 13px !important;
	border-radius: 10px;
}

blockquote {
  background-color: rgba(128,128,128,0.05);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 20px;
  border-left: 5px solid rgba(128,128,128,0.075);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, nav, .btn, .breadcrumb, label, .alert, dt, .wmd-prompt-dialog > * {
	font-family: 'Montserrat', sans-serif !important;
}

p, input, textarea {
	font-family: 'Lora', serif;
}

.hidden {
	display: none;
}

.btn-toolbar {
	margin-bottom: 10px;
}

.wmd-prompt-background {
	opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
	background-color: #000;
}

.wmd-prompt-dialog {
	background-color: #FFF;
	border-width: 5px;
	border-radius: 15px;
	border-style: solid;
	border-color: #000;
	padding: 20px;
}